h1 {
    color: green;
}

h2 {
    color: red;
}

h3 {
    color: pink;
}

body {
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1552346140954&di=44a360249c64a4f2969e6ebfd46fe42b&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F13%2F21%2F82%2F31S58PICfWQ_1024.jpg);

    width: 100%;
    background-size: 100%;

